body{
    background-color: #c8e481;
}

h2{
color: blue;
}
div{
    text-transform: uppercase;
    font-size: 18px;
    color:black;
}
p{
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    
}

p{
    color:aqua;
}